@model MigracionApp.Controllers.DOCUMENTOS

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DOCUMENTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_expiracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_expiracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADOS.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOS.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASAJEROS.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASAJEROS.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
