@model MigracionApp.Controllers.VIAJES_TRANSITO_MIGRACION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VIAJES_TRANSITO_MIGRACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivo_viaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo_viaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASAJEROS.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASAJEROS.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
